body{
	margin: 0px;
	width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}

.loginFormcontainer{
	width: 100%;
	height: 800px;
    display: flex;
    flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}		



/* #region LoginForm */
.loginFormcontainer .loginForm{
	margin-top: 6px;
	border-radius: 10px;
	border: 3px solid black;
	width: 30%;
	height: 50%;
    display: flex;
	justify-content: center;
	align-items: center;
}
.loginFormcontainer .loginForm .elements{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	width: 80%;
    height: 100%;
}
.loginFormcontainer .loginForm .elements h2{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}
.loginFormcontainer .loginForm .elements .textbox{
	height: 12%;
    width: 100%;
}
.loginbutton{
	height: 10%;
	background-color: rgb(66, 156, 214);
	font-family: 'Pangolin', cursive;
	font-size: 30px;
	color: white;
	border: 0px;
}

.loginFormcontainer .loginForm .elements .message{	
	margin-top: 10px;
	width: 100%;
	height: 10%;
	text-align: center;
	font-size: 22px;
	font-family: 'Volkhov', serif;
	color:red;
}
/* #endregion */

.toggle{
    width: 30%;
    height: 5%;
    display: flex;
    flex-flow: row wrap;
}
.toggle .btnTenant{
    padding: 0px;
    text-align: center;
    border-radius: 4px;
    width: 50%;
    padding: 10px 0px;
    background-color: rgba(66, 156, 214,1);
    color: white;
    font-family: 'Pangolin', cursive;
    font-size: 18px;
}
.toggle .btnCustomer{
    padding: 0px;
    text-align: center;
    padding: 10px 0px;
    border-radius: 4px;
    width: 50%;
    background-color: rgba(54, 10, 10,0.2);
    color: white;
    font-family: 'Pangolin', cursive;
    font-size: 18px;
}


.errormessage{
	height: 5%;
	font-family: 'Pangolin', cursive;
	color: red;
	text-align: center;
	font-size: 30px;
}

.labelcss{
	cursor: pointer;
	background-color: lightblue;
}