body{
	margin: 0px;
	width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: inherit;

}

/* .test{ */
	/* display: flex; */
	/* flex-flow: row wrap; */
	/* background-color: rgba(0, 0, 0, 0.7); */
	/* transition: background-color 0.05s; */
	/* position: fixed; */
	/* top: 0px; */
	/* height: 100%; */
    /* width: 100%; */
    /* align-items: center; */
    /* justify-content: center; */
/* } */



.flex-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

.left-padding{
    order: 0;
    width: 16%;
    height: 100%;
	flex-grow: 1;
}
.main-container{
	order: 1;
	width: 68%;
    height: 100%;
	flex-grow: 2;
    display: flex;
    flex-flow: column wrap;
}
.right-padding{
	order: 2;
	width: 16%;
	height: 100%;
	flex-grow: 1;
}


/* #region 1.header */
.header{
	background-color: black;
	border-radius: 8px;
	display: flex;
    flex-flow: row wrap;
	font-family: 'Volkhov', serif;
	font-size: 36px;
	color: white;
	order: 1;
	width: 100%;
    height: 50px;
    align-items: center;
}
.header .title{
	color: cornsilk;
	width: 80%;
	height: 100%;
	text-align: center;
	padding: 0px;
}
.header .logout{
	width: 18%;
    font-size: 26px;
    height: 70%;
	border: 1px solid white;
	color: white;
}
/* #endregion */


/* #region 2.menu */
.menubar{
	margin: 0px;
	padding: 0px;
    display: flex;
    flex-flow: row wrap;
	background-color: white;
	width: 100%;
	height: auto;
	order: 2;
	font-family: 'Lato', sans-serif;
}
.menu1{
	width: 50%;
	order: 0;
}
.menu2{
	width: 50%;
	order: 1;
}
.menubar ul li{
	font-size: 24px;
	text-align: center;
	padding: 8px 0px;
	border-style: double;
	border-left: none;
	border-right: none;
	list-style: none;
}
.menubar ul li a{
	color: black;
	display: block;
	text-decoration: none;
}
.menubar ul li a:hover{
	background-color: lightblue;
	color: red;
}
/* #endregion  */


/* #region 3.MainContent */
.MainContent{
    display: flex;
	flex-flow: column wrap;
	align-items: center;
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
	order: 3;
}
.contentTitle{
	background: rgba(238,238,238,1.00);
	padding: 30px 0px;
	text-align: center;
	width: 100%;
	font-size: 40px;
	font-family: 'Pangolin', cursive;
}
.table_container{
    width: 100%;    
    height: auto;
    display: flex;
	align-items: center;
	justify-content: center;
}
.opencart{
	color:red;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100px;
	background-color: white;
	cursor: pointer;
}
.datagripview{
	width: 100%;
}
/* Goodslist */
.goodlist_th{
	text-align: center;
   font-size: 25px;
   border: 1px solid black;
}
.goodlist_td{
	font-size: 22px;
	text-align: center;
}
tr:hover{
	background: lightblue;
	color: red;
}
/* #endregion */



/* #region shoppingcart */
.shoppingcart_container{
	display: flex;
	flex-flow: column wrap;
	z-index: 100;
	position: fixed;
	top:0px;
	right: 0px;
	height: 100%;
	width: 50%;
	background-color: white;
	transition: width 100ms;
}

.closecart{
	width: 0px;
	right: -50%;
}
/* #endregion shoppingcart */

/* icon */
.cart, .cart:before{

	font-size: 50px;
	content: '\f07a';
	font-family: fontAwesome;
	cursor: pointer;

}

.noBorder{
	border: none;
}